* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background: #050505;
} 

.pageBox {
  min-height: 80vh;
  padding: 80px 7%;
  background: #050505;
  color: white;
}
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}